footer {
    /* position: relative; */
    /* width: 100%; */
    height: auto;
    padding: 50px 100px;
 background:linear-gradient(to right, #00093c,#2d0b00);
    z-index: 80; /* Added z-index to ensure footer is below the navbar */
    /* margin-left: -9%; */
}

footer .container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-gap: 50px;
}

footer .container .sec h2 {
    position: relative;
    color: #000;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
}

footer .container .sec p {
    color: #fff;
    font-family: "Roboto", sans-serif;
}

footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    justify-content: center;
}

footer .container .sci li {
    list-style: none;
}

footer .container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: white;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 30px;
}

footer .container .sci li a i {
    
    font-size: 25px;
}

footer .container .quicklinks h2 {
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
    color: #17dfb9;
}

footer .container .quicklinks ul li {
    list-style: none;
}

footer .container .quicklinks ul li a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: medium;
}

footer .container .contact .info {
    list-style: none;
    position: relative;
}

footer .container .contact h2 {
    margin-bottom: 15px;
    font-family: 'Neusharp', sans-serif;
    color: #17dfb9;
}

footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
/*     margin-bottom: 16px; */
}

footer .container .contact .info li span {
    color:#17dfb9;
    font-size: 20px;
}

footer .container .contact .info li a {
    color: #fff;
    text-decoration: none;
}

.copyrighttext {
background-color: #000958;
    /* background: linear-gradient(to right, #bc005b, #4528a5); */
    padding: 20px 100px 30px;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.copyrighttext a{
    text-decoration: none;
    color: white;
}
.sec span{
    color: #ff004f;
    font-size: 30px;
}
@media (max-width: 991px) {
    footer {
        padding: 40px;
        /* margin-top: 649%; */
        /* margin-left: 5px; */
    }
    footer .container {
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .copyrighttext {
        padding: 20px 40px 30px;
    }
    
}

@media (max-width: 768px) {
    footer .container {
        /* width: 100%; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
   
  
   
}
@media (max-width: 450px) {
    footer .container {
        /* width: 100%; */
       
    }
    .sec p{
        width: 100%;
    }
}


footer .sec{
   
    text-align: center;
    /* margin-left: -20px; */
}

footer .sec img{
    width: 80px;
}

